*geomorphons*
*habitat_derivatives*
*geomorphons*
*shapefiles*
__pycache__*
*.pyc
*.csv
*local_workspace*
*track_lines_combiner.ipynb*
*.png
dem/*
saga-9.8.0_x64/
*log.txt
*reports.txt
*parameters.txt
*.jpg
*.tif
*.pickle
*.eps
BRESS.2.5.4*
*backup*
*.aux.xml
*.aux
.vscode/